<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003810122821-j62gnj3m81lpjc2tl0b1v1jh0j55abkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003810122821-j62gnj3m81lpjc2tl0b1v1jh0j55abkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBk5qHvGuOoAoMaw-XYoNe-yU2j07HEs9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1003810122821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myco2app.firebaseAuthExample</string>
	<key>PROJECT_ID</key>
	<string>co2-app-a291d</string>
	<key>STORAGE_BUCKET</key>
	<string>co2-app-a291d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003810122821:ios:92f46f328d66eb7933472c</string>
</dict>
</plist>